.form_box {
  padding: 0 100px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
}

.form_group {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_btn {
  padding: 0 20px;
  background: #ffffff;
}
